# Imports, etc.

In [ ]:
# LIB IMP
import sys 
import datetime
import pandas as pd
import numpy as np 
from pyspark import SparkContext
from pyspark.sql import SQLContext

#technical
def query_to_variable (query):
  query_output = spark.sql(query)  
  query_output_list = query_output.collect()
  query_variable = query_output_list[0][0]
  return query_variable

#exec for later
list_format = """
#       LIST DICTIONARY CREATION       #
OBL = {}
for key, value in OB_Limit_List.items():
    OBL['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
OBB = {}
for key, value in OB_Block_List.items():
    OBB['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
one_blk = {}
for key, value in One_WOS_block_lists.items():
    one_blk['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
two_blk = {}
for key, value in Two_WOS_block_lists.items():
    two_blk['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
three_blk = {}
for key, value in Three_WOS_block_lists.items():
    three_blk['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
four_blk = {}
for key, value in Four_WOS_block_lists.items():
    four_blk['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
one_cap = {}
for key, value in One_WOS_Cap_Lists.items():
    one_cap['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
three_cap = {}
for key, value in Three_WOS_Cap_Lists.items():
    three_cap['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
four_cap = {}
for key, value in Four_WOS_Cap_Lists.items():
    four_cap['{}'.format(key)] = ''.join(
        ["'" + i + "'," if i != value[-1] else "'" + i + "'" for i in value])
#       OUTPUT REVIEW       #
print('#    1 BLOCK    #')
print('one_blk')
for key, value in one_blk.items():
    print('{}: {}'.format(key, value))
print('#    2 BLOCK    #')
print('two_blk')
for key, value in two_blk.items():
    print('{}: {}'.format(key, value))
print('#    3 BLOCK    #')
print('three_blk')
for key, value in three_blk.items():
    print('{}: {}'.format(key, value))
print('#    4 BLOCK    #')
print('four_blk')
for key, value in four_blk.items():
    print('{}: {}'.format(key, value))
print('#    1 WOS LIMIT    #')
print('one_cap')
for key, value in one_cap.items():
    print('{}: {}'.format(key, value))
print('#    3 WOS LIMIT    #')
print('three_cap')
for key, value in three_cap.items():
    print('{}: {}'.format(key, value))
print('#    4 WOS LIMIT    #')
print('four_cap')
for key, value in four_cap.items():
    print('{}: {}'.format(key, value))
print('#    OB Day Limit     #')
for key, value in OBL.items():
    print('{}: {}'.format(key, value))
print('#    OB DAYS BLOCK   #')
for key, value in OBB.items():
    print('{}: {}'.format(key, value))
"""
sun_date= """
  with 
    yr as 
      (select distinct YEAR_NUM from schema.dim_dates where DAY_DESC=current_date())
  select distinct
    dt.DAY_DATE as run_date
  from schema.dim_dates dt
  join (select distinct
          dt_B.MNTH_NAME
          ,dt_A.DT_WK_END
        from schema.dim_dates dt_A
        join schema.dim_dates dt_B
          on dt_A.DT_WK_END=dt_B.Day_Date
        where dt_A.YEAR_NUM = (select * from yr)
          and dt_A.day_date = current_Date()
        order by dt_A.DT_WK_END,dt_B.MNTH_NAME) mth
    on dt.DT_WK_END = mth.DT_WK_END
  where dt.YEAR_NUM = (select * from yr)
    and dt.day = 'SUN' 
  order by run_date"""
view_name = 'sun_date'
DATA = spark.sql(sun_date)
DATA.createOrReplaceTempView(view_name)
print(view_name,(DATA.count(), len(DATA.columns)))
DATA.show()

OH_DATE = spark.sql("SELECT run_date FROM sun_date").collect()[0][0].strftime("'%Y-%m-%d'")
print('OH_DT:', OH_DT)

sundate (1, 1)
+----------+
|  run_date|
+----------+
|2024-xx-xx|
+----------+

OH_DATE: '2024-xx-xx'

# Parameter Set

In [ ]:

# LISTS FOR BLOCKS #
One_WOS_block_lists = {
  'STR': ['', ''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']}
Two_WOS_block_lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']
}
Three_WOS_block_lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']}
Four_WOS_block_lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']
}
# CAP LISTS #
One_WOS_Cap_Lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']}
Three_WOS_Cap_Lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': [''],
  'ITEMDIM2': [''],
  'DEPT': ['']}
Four_WOS_Cap_Lists = {
  'STR': [''],
  'RGN': [''],
  'TLI': ['1111123456','1111134567'],
  'ITEMDIM2': ['660018','660019','660020'],
  'DEPT': ['33','66','99']}
# Owned Brand Pref #
OB_Limit_List = { 
  '1WOS' : [''],
  '3WOS' : [''],
  '4WOS' : ['Y']}
OB_Block_List = {   
  '1WOS' : [''],
  '2WOS' : [''],
  '3WOS' : [''],
  '4WOS' : ['']}
exec(list_format)

#    1 BLOCK    #
one_blk
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    2 BLOCK    #
two_blk
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    3 BLOCK    #
three_blk
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    4 BLOCK    #
four_blk
4_blk
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    1 WOS LIMIT    #
one_cap
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    3 WOS LIMIT    #
three_cap
STR: ''''
RGN: ''
TLI: ''
ITEMDIM2: ''
DEPT: ''
#    4 WOS LIMIT    #
four_cap
STR: ''
RGN: ''
TLI: '1111123456','1111134567'
ITEMDIM2: '660018','660019','660020'
DEPT: '33','66','99'
#    OB Day Limit     #
1WOS: ''
3WOS: ''
4WOS: 'Y'
#    OB DAYS BLOCK   #
1WOS: ''
2WOS: ''
3WOS: ''
4WOS: ''

# Spine, Vertebra, and Decision Data

In [ ]:
SPINE_QUERY = """
with 
  date_per as
    (--for when primary spine data does not finish in time
      select min(per_cd) as per_cd 
    from
      (--per_cd for proper sun_date run
        select distinct per_cd from schema.period_dim where TODATE = {0}
        union
      --per cd for max in store date (+1 to simulate how the sun_date works vs the expected saturdate for sales)
        select max(per_cd)+1 from schema.sub_incl
      )
    )
select distinct
  spine.STORE_NBR,
  TLI.top_level_item,
  OM.WHSE_COST,
  TLI.OB_IND,
  TLI.ITEM_DEPT,
  TLI.ITEMDIM2,
  src.source as whse_nbr,
  case when src.vnd_dlv_flg = 'Y' or substr(src.source,1,4) <> '5555' 
    then vend_mult
  else greatest(coalesce(om.ord_mult,1),1)
  end as ord_mult,
  --spine.sub_days,
  {0} as todate
--primary item||store list. Top Level Item is encoded as a separate product code that must be joined to top level dim table
from 
  (select distinct 
    prod_cd,
    STORE_NBR,
    min(min_per) as min_per,
    max(max_per) as max_per,
    max(max_per)-min(min_per) as sub_days
  from
    (select distinct
      prod_cd,
      STORE_NBR,
      min(per_cd) as min_per,
      max(per_cd) as max_per
      from schema.sub_incl
      where per_cd >= (select per_cd-29 from dt_per)
        and per_cd < (select per_cd from dt_per)
      group by
      prod_cd,
      STORE_NBR
    union
    select distinct
      prod_cd,
      STORE_NBR,
      min(per_cd) as min_per,
      max(per_cd) as max_per
      from schema.sub_excl
      where per_cd >= (select per_cd-29 from dt_per)
        and per_cd < (select per_cd from dt_per)
      group by
      prod_cd,
      STORE_NBR)
  group by
    prod_cd,
    STORE_NBR
  having max(max_per)-min(min_per) >= 4*7
  ) spine
--TOP LEVEL ITEM DIM RELATION
join schema.dim_top_level_item TLI
  ON spine.prod_cd = TLI.prod_cd
--SOURCING INFORMATION
join 
  (select distinct
    a.item,
    a.str_nbr,
    b.source,
    a.vend_multqty as vend_mult
  from schema.sku_plan_dim a
  join schema.sourcing b
    on a.item = b.item
    and a.str = b.dest
    and a.run_date = b.run_date
  where a.run_date = {0}
    and date(b.eff_date) <= {0}
    and date(b.disc_date) > {0}) src
  on TLI.top_level_item = src.item
  and spine.STORE_NBR = src.str_nbr
--PREBUILT TOP LEVEL ITEM WAREHOUSE DATA
left join work_schema.TLI_DC_DATA om
  on spine.top_level_item = om.top_level_item
  and src.source = om.whse_nbr
"""
DATA = spark.sql(SPINE_QUERY.format(OH_DT))
view_name = 'Spine'
DATA.createOrReplaceTempView(view_name)

In [ ]:
#Budget Data
VERT1_QUERY = """
select distinct
  spine.STORE_NBR,
  spine.top_level_item,
  spine.OB_IND,
  spine.whse_nbr,
  spine.whse_cost,
  spine.ord_mult,
  --bdgt min/max increase on 4_wk cap ITEM_DIMS for extra room before blocking and also for OB items
  case 
    when OB_IND = 'Y'
    or top_level_item in ({0})
    or TLI.ITEM_DEPT in ({1})
    or spine.ITEMDIM2 in ({2})
      then greatest(least(coalesce(plan_dlrs/planned_csu,0)*7
                          ,70)
                    ,35)
    else coalesce(budget_days,28) 
  end as budget_dos,
  spine.todate
from spine
left join
  (select distinct
    bdgtfct.period_cd,
    date.day_date,
    dept.ITEM_DEPT,
    bdgtfct.prod_cd,
    bdgtfct.plan_dlrs,
    bdgtfct.PLANNED_CSU,
    ------- minimum 14 maximum 28 general budgets -------
    greatest(least(coalesce(bdgtfct.plandlrs,1000)/coalesce(bdgtfct.planned_Csu,10)*7
                  ,28)
            ,14) as budget_days
  from schema.budget bdgtfct
  join schema.dim_dates date
    on bdgtfct.period_cd = date.period_cd
  join schema.dept_dim dept
    on bdgtfct.prd_cd = dept.prd_cd
  -- date filter to speed up query
  where date.day_date >= current_date()-14
  ) bdgt
on spine.todate=bdgtfct.day_date
  and spine.ITEM_DEPT=bdgtfct.ITEM_DEPT
  """
view_name = 'Spine_Vert1'
DATA = spark.sql(SPINE_QUERY.format(four_cap['TLI'],
                                    four_cap['ITEMDIM2'],
                                    four_cap['DEPT']))
DATA.createOrReplaceTempView(view_name)

In [ ]:
#Cost of Sales Units 
CSU_QUERY = """
  with 
    dt_per as
      (select WK_per_cd from schema.dim_dates 
        where DAY_DATE = {0})
  select distinct 
      CSU.top_level_item,
      CSU.STORE_NBR,
      --selecting the correct weekly sum depending on strength of recent weeks compared to least proximal 7
      CASE
        WHEN  CSU.G_CSU = CSU.mid_rcnt_CSU
          then 6W_CSU
        WHEN  CSU.G_CSU = CSU.nt_rcnt_CSU
          then 13W_CSU
        ELSE G_CSU
      END as CSU,
      CSU.G_CSU,
      CASE
        WHEN  CSU.G_CSU = CSU.mid_rcnt_CSU
          then 6W_units
        WHEN  CSU.G_CSU = CSU.nt_rcnt_CSU
          then 13W_units
        ELSE G_UNITS
      END as SLS_UNITS,
      CASE
        WHEN CSU.G_CSU = CSU.mst_rcnt_CSU 
          then least ( 21, PER_DAYS)
        WHEN  CSU.G_CSU = CSU.mid_rcnt_CSU
          then least( 42, PER_DAYS)
        WHEN  CSU.G_CSU = CSU.nt_rcnt_CSU
          --13 wk period means max(91) per_days
          then PER_DAYS
        else 91
      END as FLEXDAYS
      ,dt.wk_end_dt 
    from 
      (SELECT distinct
        csu_base.per_cd
        ,top_level_item
        ,STORE_NBR
        , SUM(SLS_UNITS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND CURRENT ROW ) as 13W_units
        , SUM(SLS_UNITS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 5 preceding AND CURRENT ROW ) as 6W_units
        , greatest(SUM(SLS_UNITS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND 6 preceding )
                  ,SUM(SLS_UNITS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 5 preceding AND 3 preceding )
                  ,SUM(SLS_UNITS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 2 preceding AND CURRENT ROW )
                  ) G_UNITS
        -- actual csu sums to be used for days of supply calculation.
        --Note that we only need to create the 3 wk if it is in fact the greatest because we else into 3wk G_UNITS/CSU given the logic above. 
        , SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND CURRENT ROW ) as 13W_CSU
        , SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 5 preceding AND CURRENT ROW) as 6W_CSU
        , greatest(SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND 6 preceding)
                  ,SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 5 preceding AND 3 preceding)
                  ,SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 2 preceding AND CURRENT ROW )
                  ) G_CSU
        -- 3, 6, 13 wk buckets as well as their greatest (G_UNITS/CSU) created here.
        , SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 2 preceding AND CURRENT ROW )
          as mst_rcnt_CSU
        , SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 5 preceding AND 3 preceding )
          as mid_rcnt_CSU
        , SUM(CSU_DLRS) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND 6 preceding)
          as nt_rcnt_CSU
        --  week count for floating dos  --
        , COUNT(per_cd) OVER (PARTITION BY top_level_item, STORE_NBR ORDER BY csu_base.per_cd ROWS BETWEEN 12 preceding AND CURRENT ROW ) * 7
          as PER_DAYS
      FROM
        (SELECT distinct
          FCT.per_cd
          ,UPC.top_level_item
          ,FCT.STORE_NBR
          ,sum(FCT.SLS_UNITS) as SLS_UNITS
          ,SUM(FCT.SLS_COST_DLRS) AS CSU_DLRS
        FROM schema.SALES_UPC FCT
        LEFT JOIN schema.DIM_UPC UPC
          ON FCT.PROD_ID = UPC.PROD_ID
        Where FCT.per_cd >= (select WK_per_cd-14 from dt_per)
        GROUP BY
          FCT.per_cd,
          UPC.top_level_item,
          FCT.STORE_NBR) csu_base
        )CSU
    Join schema.dim_dates dt
      on CSU.per_cd = dt.WK_per_cd
    where dt.WK_per_cd = (select WK_per_cd-1 from dt_per)
    order by
      top_level_item desc,
      STORE_NBR
"""
view_name = 'CSU'
DATA = spark.sql(CSU_QUERY.format(SDATE))
DATA.createOrReplaceTempView(view_name)

# Decision data joined to spine and base data calculated

In [ ]:
BASE_QUERY = """
Select distinct 
  spine.todate,
  spine.top_level_item,
  spine.STORE_NBR,
  spine.sub_days,
  spine.ITEMDIM4,
  spine.budget_dos,
  spine.ord_mult,
  oh.OH_DLRS,
  csu.CSU,
  arrv.arriv_units,
  coalesce(spine.whse_cost,0)*coalesce(arrv.arriv_units,0) as 13wk_arriv_cost,
  greatest(ROUND(COALESCE(oh.OH_DLRS,0)*FLEXDAYS / COALESCE(csu.CSU,0),2),0) AS STR_DOS,
  greatest(round(coalesce(oh.OH_DLRS,0)*91 / (coalesce(spine.whse_cost,0)*coalesce(arrv.arriv_units,0)),2),0) as ftr_dos,
  oh.OH_UNITS,
  csu.SLS_UNITS,
  -- weekly cap scenarios created here 
  round(COALESCE(csu.SLS_UNITS / csu.FLEXDAYS * 7, 0),2) as 1WOS_units,
  round(COALESCE(arrv.arriv_units/91*7,0),2) as 1FWOS_units,
  round(COALESCE(csu.SLS_UNITS / csu.FLEXDAYS * 14, 0),2) as 2WOS_units,
  round(COALESCE(arrv.arriv_units/91*14,0),2) as 2FWOS_units,
  round(COALESCE(csu.SLS_UNITS / csu.FLEXDAYS * 21, 0),2) as 3WOS_units,
  round(COALESCE(arrv.arriv_units/91*21,0),2) as 3FWOS_units,
  round(COALESCE(csu.SLS_UNITS / csu.FLEXDAYS * 28, 0),2) as 4WOS_units,
  round(COALESCE(arrv.arriv_units/91*28,0),2) as 4FWOS_units,
  csu.FLEXDAYS,
  greatest(greatest(round(COALESCE(SLS_UNITS / FLEXDAYS * 28, 0),2),round(COALESCE(arrv.arriv_units/ 91 * 28, 0),2) ),
           case 
             when spine.whse_cost * 25 <= 50
                then 25
             else floor(50/spine.whse_cost)
           end
          ) as PB_UNITS
from item_spine spine
left join CSU CSU
  on spine.top_level_item=csu.top_level_item
    and spine.STORE_NBR=csu.STORE_NBR

-- OH_DATA
left join 
  (select distinct 
    prod_id
    ,STORE_NBR
    ,OH_DLRS
    ,OH_UNITS 
  from schema.day_store_ioh oha
  join schema.dim_dates dt
    on oha.per_cd=dt.per_cd
  where dt.DAY_DATE = dateadd({0},-1)
  ) oh
 on spine.prod_id=oh.prod_id
  and spine.STORE_NBR=oh.STORE_NBR

-- arrival_data
left join 
  (select distinct
    item_nbr,
    str_nbr,
    sum(qty) as arriv_units
  from schema.plan_deliv
  where arrivdate < to_date({0})+91
    and run_Date = {0}
  group by
    item_nbr,
    str_nbr
  ) arrv
  on spine.top_level_item=arrv.item_nbr
    and spine.STORE_NBR=arrv.str_nbr

order by 
  spine.top_level_item,
  spine.STORE_NBR
"""
view_name = 'BASE_DATA'
DATA = spark.sql(BASE_QUERY.format(OH_DT))
DATA.createOrReplaceTempView(view_name)
drop_query = """delete from work_schema.cap_base"""
insert_query = """insert into work_schema.cap_base select * from BASE_DATA"""
sqlContext.sql(drop_query)
sqlContext.sql(insert_query)
print(view_name,(DATA.count(), len(DATA.columns)))

BASE_DATA (123456789, 25)

# Detail History (Running 12 months)

In [ ]:
insert_query = f"""
insert into work_schema.cap_details
select distinct
  to_date(todate) as run_date,
  a.top_level_item,
  a.STORE_NBR,
  sub_days,
  vnd_dlv_flg,
  ITEMDIM4,
  ord_mult,
  --budget limit override occurs here
  coalesce(b.cap_units,a.budget_dos) as budget_dos,
  str_dos,              
  ftr_dos as str_ftr_dos,
  oh_units,
  OH_DLRS,
  SLS_UNITS,
  CSU,
  arriv_units,
  arriv_cost,
  1WOS_units,          
  2WOS_units,         
  3WOS_units,
  4WOS_units,
  1FWOS_units,         
  2FWOS_units,       
  3FWOS_units,
  4FWOS_units,
  FLEXDAYS,
  PB_UNITS
from work_schema.cap_base a
left join work_schema.cap_mnl_ovrd b
  on a.top_level_item=b.top_level_item
  and a.STORE_NBR=b.STORE_NBR
  and b.cap_units >= 0
  and b.override_code = 'SBR'
  and b.start_date <= {OH_DT}
  and b.end_date >= {OH_DT} 
"""
delete_query = """
delete from work_schema.cap_details
where run_date = (select run_date from
                  (select *,row_number() over (order by run_date desc) as rn
                  from (select distinct run_date from work_schema.cap_details))
                  where rn = 13)"""
Review_Query = "select run_date,count(*) from work_schema.cap_details group by run_date order by run_date"
sqlContext.sql(insert_query)
sqlContext.sql(delete_query)
DATA = spark.sql(Review_Query)
DATA.show()

+----------+---------+
|  run_date|itm_count|
+----------+---------+
|1111-11-07|111111111|
|1111-11-14|111111111|
|1111-11-21|111111111|
|1111-11-28|111111111|
|1111-12-05|111111111|
|1111-12-12|111111111|
|1111-12-19|111111111|
|1111-12-26|111111111|
|1111-01-03|111111111|
|1111-01-10|111111111|
+----------+---------+

# Data Transformation (Encoding and Overwrites)

In [ ]:
view_name = 'morphset'
encode_query = """
 select distinct
  fct.top_level_item,
  fct.STORE_NBR,
 -------       block and limit coding       -------
 ---using subquery references here rather than storing all relevant dims in histories
  case
    when STORE_NBR in ({0})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({1}))
      or top_level_item in ({2})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {35})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({3}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({4}))
        then 'A'
    when STORE_NBR in ({5})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({6}))
      or top_level_item in ({7})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {36})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({8}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({9}))
        then 'B'
    when STORE_NBR in ({10})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({11}))
      or top_level_item in ({12})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {37})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({13}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({14}))
        then 'C'
    when STORE_NBR in ({15})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({16}))
      or top_level_item in ({17})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {38})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({18}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({19}))
        then 'D'
    else 'E'
  end as block_code, 
  case
    when STORE_NBR in ({20})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({21}))
      or top_level_item in ({22})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {39})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({23}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({24}))
        then 'A'
    when STORE_NBR in ({25})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({26}))
      or top_level_item in ({27})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {40} )
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({28}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({29}))
        then 'C'
    when STORE_NBR in ({30})  
      or STORE_NBR in (select distinct STORE_NBR from schema.dim_location where RGN_NBR in ({31}))
      or top_level_item in ({31})
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where OB_IND = {41} )
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEM_DEPT in ({33}))
      or top_level_item in (select distinct top_level_item from schema.dim_top_level_item where ITEMDIM2 in ({34}))
        then 'D'
    else 'B'
  end as cap_weeks_code,
 ----------------------------- Block Threshold Binaries ----------------------------------------
  case
    when fct.budget_dos <= least(fct.str_dos,decode(fct.str_ftr_dos,0,fct.str_dos,fct.str_ftr_dos))
      then 1 
    else 0
  end as 0_block,
  case
    when fct.budget_dos - 7 <= least(fct.str_dos,decode(fct.str_ftr_dos,0,fct.str_dos,fct.str_ftr_dos))
      then 1 
    else 0
  end as 1_block,
  case
    when fct.budget_dos - 14 <= least(fct.str_dos,decode(fct.str_ftr_dos,0,fct.str_dos,fct.str_ftr_dos))
      then 1 
    else 0
  end as 2_block,
  case
    when fct.budget_dos - 21 <= least(fct.str_dos,decode(fct.str_ftr_dos,0,fct.str_dos,fct.str_ftr_dos))
      then 1 
    else 0
  end as 3_block,
  case
    when fct.budget_dos - 28 <= least(fct.str_dos,decode(fct.str_ftr_dos,0,fct.str_dos,fct.str_ftr_dos))
      then 1 
    else 0
  end as 4_block,
 ----------------------------- CAP Scenarios (Selecting greatest of future and historical days of supply and Order Mult Rounding)  ----------------------------------------
  greatest(
    case 
      when fct.1WOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.1WOS_units < fct.ord_mult
        then fct.ord_mult
      else ceil(fct.1WOS_units/fct.ord_mult)*fct.ord_mult
    end, 
    case 
      when fct.1FWOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.1FWOS_units < fct.ord_mult
          then fct.ord_mult
      else ceil(fct.1FWOS_units/fct.ord_mult)*fct.ord_mult
    end ) as 1WOS_CAP,

  greatest(
    case 
      when fct.2WOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.2WOS_units < fct.ord_mult
          then fct.ord_mult
      else ceil(fct.2WOS_units/fct.ord_mult)*fct.ord_mult
    end, 
    case 
      when fct.2FWOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.2FWOS_units < fct.ord_mult
          then fct.ord_mult
      else ceil(fct.2FWOS_units/fct.ord_mult)*fct.ord_mult
    end) as 2WOS_CAP,

  greatest(
    case 
      when fct.3WOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.3WOS_units < fct.ord_mult
        then fct.ord_mult
      else ceil(fct.3WOS_units/fct.ord_mult)*fct.ord_mult
    end, 
    case 
      when fct.3FWOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.3FWOS_units < fct.ord_mult
        then fct.ord_mult
      else ceil(fct.3FWOS_units/fct.ord_mult)*fct.ord_mult
    end) as 3WOS_CAP,

  greatest(
    case 
      when fct.4WOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.4WOS_units < fct.ord_mult
        then fct.ord_mult
      else ceil(fct.4WOS_units/fct.ord_mult)*fct.ord_mult
    end, 
    case 
      when fct.4FWOS_units = 0 
        and fct.oh_units > 0
          then 0
      when fct.4FWOS_units < fct.ord_mult
        then fct.ord_mult
      else ceil(fct.4FWOS_units/fct.ord_mult)*fct.ord_mult
    end) as 4WOS_CAP,

  run_date,
  PB_UNITS
 from work_schema.cap_details fct
 
 where run_date = (select max(run_date) from work_schema.cap_details)
 
 order by
  top_level_item,
  STORE_NBR """
DATA = spark.sql(encode_query.format(one_blk['STR'],        #0   
                                    one_blk['RGN'],         #1   
                                    one_blk['TLI'],         #2   
                                    one_blk['DEPT'],        #3   
                                    one_blk['ITEMDIM2'],    #4  
                                    two_blk['STR'],         #5  
                                    two_blk['RGN'],         #6  
                                    two_blk['TLI'],         #7
                                    two_blk['DEPT'],        #8                                       
                                    two_blk['ITEMDIM2'],    #9
                                    three_blk['STR'],       #10  
                                    three_blk['RGN'],       #11  
                                    three_blk['TLI'],       #12
                                    three_blk['DEPT'],      #13                                      
                                    three_blk['ITEMDIM2'],  #14   
                                    four_blk['STR'],        #15
                                    four_blk['RGN'],        #16
                                    four_blk['TLI'],        #17
                                    four_blk['DEPT'],       #18                               
                                    four_blk['ITEMDIM2'],   #19  
                                    one_cap['STR'],         #20
                                    one_cap['RGN'],         #21
                                    one_cap['TLI'],         #22
                                    one_cap['DEPT'],        #23                            
                                    one_cap['ITEMDIM2'],    #24  
                                    three_cap['STR'],       #25
                                    three_cap['RGN'],       #26
                                    three_cap['TLI'],       #27
                                    three_cap['DEPT'],      #28                             
                                    three_cap['ITEMDIM2'],  #29   
                                    four_cap['STR'],        #30
                                    four_cap['RGN'],        #31
                                    four_cap['TLI'],        #32
                                    four_cap['DEPT'],       #33                            
                                    four_cap['ITEMDIM2'],   #34
                                    OBL['1WOS'],               #35   
                                    OBL['3WOS'],              #36   
                                    OBL['4WOS'],              #37   
                                    OBB['2WOS'],              #38   
                                    OBB['1WOS'],               #39   
                                    OBB['3WOS'],              #40   
                                    OBB['4WOS']               #41
                                  ))
print(view_name,(DATA.count(), len(DATA.columns)))
DATA.createOrReplaceTempView(view_name)

morphset (123456789, 14)

# Special Rule Overrides

In [ ]:
query = """ 
select distinct 
  a.run_date,
  a.top_level_item,
  a.STORE_NBR,
  case
    when b.override_code = 'SBR'
    and b.cap_units < 0 
      then b.reason_code
    else coalesce(c.reason_code,a.block_code)
  end as block_code,
  case 
    when b.override_code in ('MCR','SDR','SCR') 
      then b.reason_code
    else coalesce(c.reason_code,a.cap_weeks_code) 
  end as cap_weeks_code,
  1WOS_CAP,
  2WOS_CAP,
  3WOS_CAP,
  4WOS_CAP,
  coalesce(c.cap_units, b.cap_units) as spec_rl_cap_units,
  case
    when b.override_code = 'SBR'
    and b.cap_units = 0 
      then 1
    else 0_block 
  end as 0_block,
  case
    when b.override_code = 'SBR'
    and b.cap_units = 0 
      then 1
    else 1_block 
  end as 1_block,
  case
    when b.override_code = 'SBR'
    and b.cap_units = 0 
      then 1
    else 2_block 
  end as 2_block,
  case
    when b.override_code = 'SBR'
    and b.cap_units = 0 
      then 1
    else 3_block 
  end as 3_block,
  case
    when b.override_code = 'SBR'
    and b.cap_units = 0 
      then 1
    else 4_block 
  end as 4_block
from {0} a
left join -- non exemption overwrites
  (select * from work_schema.cap_mnl_ovrd 
  where start_date <= {1} and end_date >= {1} 
  and override_code <> 'SER') b
on a.top_level_item = b.top_level_item
and a.STORE_NBR = b.STORE_NBR
left join  -- exemption overwrites
  (select * from work_schema.cap_mnl_ovrd 
  where start_date <= {1} and end_date >= {1} 
  and override_code = 'SER') c
on a.top_level_item = c.top_level_item
and a.STORE_NBR = c.STORE_NBR """
DATA = spark.sql(query.format(view_name, OH_DT))
DATA.createOrReplaceTempView(view_name)
print(view_name,(DATA.count(), len(DATA.columns)))

morphset (123456789, 15)

# LEGACY-NEW ITEM CODE RELATION

In [ ]:
query = """ 
select distinct
  a.run_date,
  b.upld_str_cd,
  a.STORE_NBR,
  coalesce(c.upld_item_code,d.upld_item_code) as upld_item_code,
  a.top_level_item,
  a.reason_code,
  a.block_code,
  a.cap_weeks_code,
  a.dsd_limit_units,
  a.1WOS_CAP,
  a.2WOS_CAP,
  a.3WOS_CAP,
  a.4WOS_CAP,
  a.spec_rl_cap_units,
  a.0_block,
  a.1_block,
  a.2_block,
  a.3_block,
  a.4_block
from {0} a
join schema.loc_xref b
  on a.STORE_NBR = b.loc_num
left join 
    (select distinct 
      TL_ITEM, 
      upld_item_code 
    from schema.item_xref
    ) c
  on a.top_level_item = c.TL_ITEM
  left join 
    (select distinct 
      midlevelitem, 
      upld_item_code 
    from schema.item_xref 
    ) d
on substr(a.top_level_item,7,6) = d.midlevelitem
   """
DATA = spark.sql(query.format(view_name))
print(view_name,(DATA.count(), len(DATA.columns)))
DATA.createOrReplaceTempView(view_name)

morphset (133456789, 14)

In [ ]:
#standardize setup duplicate errors in source data on max
query = """ 
select distinct
  a.run_date,
  a.upld_str_cd,
  a.STORE_NBR,
  a.upld_item_code,
  a.top_level_item,
  b.min_block_code as block_code,
  b.max_limit_code as cap_weeks_code,
  b.1WOS_CAP,
  b.2WOS_CAP,
  b.3WOS_CAP,
  b.4WOS_CAP,
  b.spec_rl_cap_units,
  b.0_block,
  b.1_block,
  b.2_block,
  b.3_block,
  b.4_block
from {0} a
join
  (select distinct 
    upld_str_cd,
    upld_item_code,
    decode(min(decode(block_code,
                      'M'   , 1,
                      'E'   , 2,
                      'A'   , 3,
                      'B'   , 4,
                      'C'   , 5,
                      'D'   , 6 )),
            2 , 'M',
            2 , 'E',
            3 , 'A',
            4 , 'B',
            5 , 'C',
            6 , 'D') 
    as min_block_code,
    decode(max(decode(cap_weeks_code,
                      'A'   , 1,
                      'B'   , 2,
                      'C'   , 4,
                      'D'   , 5,
                      'M'   , 6 )),
          1 , 'A',
          2 , 'B',
          4 , 'C',
          5 , 'D',
          6 , 'M') 
    as max_limit_code,
    max(1WOS_CAP) as 1WOS_CAP,
    max(2WOS_CAP) as 2WOS_CAP,
    max(3WOS_CAP) as 3WOS_CAP,
    max(4WOS_CAP) as 4WOS_CAP,
    max(spec_rl_cap_units) as spec_rl_cap_units,
    max(0_block) as 0_block,
    max(1_block) as 1_block,
    max(2_block) as 2_block,
    max(3_block) as 3_block,
    max(4_block) as 4_block
  from {0}
  group by
    upld_str_cd,
    upld_item_code) b
on a.upld_str_cd = b.upld_str_cd
  and a.upld_item_code = b.upld_item_code """
DATA = spark.sql(query.format(view_name))
print(view_name,(DATA.count(), len(DATA.columns)))
DATA.createOrReplaceTempView(view_name)

morphset (133456789, 15)

# Decision History, TW/LW Delta

In [ ]:
cap_query = """
  select distinct
    a.run_date,
    a.top_level_item,
    a.upld_item_code,
    a.STORE_NBR,
    a.upld_str_cd,
    case 
      when coalesce(hist.delta_desc,0) = 0
        then 'Insrt'
      when cast(hist.cap_units as int) <> cast(a.cap_units as int)
        then 'Updt'
      else 'DUP'
    end as delta_desc,
    a.lgc_cd,
    a.cap_units
  from 
  (select distinct 
    run_date,
    upld_item_code,
    top_level_item,
    STORE_NBR,
    upld_str_cd,
    block_code||'-'||cap_weeks_code as lgc_cd,
    case 
      when decode(block_code,
                  'A'   , 1_block,
                  'B'   , 2_block,
                  'C'   , 3_block,
                  'D'   , 4_block,
                  'E'   , 0_block,
                  'M'   , 0) = 1
        then 0
      else decode(cap_weeks_code,
                  'A', 1WOS_CAP,
                  'B', 2WOS_CAP,
                  'C', 3WOS_CAP,
                  'D', 4WOS_CAP,
                  'M', spec_rl_cap_units)
    end as cap_units
  from {0}
    ) a
  left join 
    (select distinct
      upld_item_code,
      upld_str_cd,
      delta_desc,
      cap_units
    from work_schema.cap_hist
      where run_date = (select max(run_date) from work_schema.cap_hist)
    ) hist
    on a.upld_item_code = hist.upld_item_code
    and a.upld_str_cd = hist.upld_str_cd """
Review_Query = """
  select distinct 
    delta_desc,
    count(*)
  from limits
  group by delta_desc"""
Review_Query2 = """
  select distinct
  run_date,
  delta_desc,
  count(*)
  from work_schema.cap_hist
    where run_date = (select max(run_date) from work_schema.cap_hist)
  group by
    delta_desc,
    run_date
  order by
  run_date,
  delta_desc"""
DATA = spark.sql(cap_query.format(view_name))
print(view_name,(DATA.count(), len(DATA.columns)))
DATA.createOrReplaceTempView('caps')
dt = query_to_variable("select distinct run_Date from caps")
insert_query = """
insert into work_schema.cap_hist
select 
    top_level_item,
    upld_item_code,
    STORE_NBR,
    upld_str_cd,
    lgc_cd,
    cap_units,
    delta_desc,
    run_date
from limits
union
Select
    a.top_level_item,
    a.upld_item_code,
    a.STORE_NBR,
    a.upld_str_cd,
    a.lgc_cd,
    a.cap_units,
    'Delete' as delta_desc,
    '{0}' as run_date
from work_schema.cap_hist a
--identify all prior records not in current week --
anti join caps b
    on a.upld_item_code = b.upld_item_code
    and a.upld_str_cd = b.upld_str_cd
where a.run_date = (select max(run_date) from work_schema.cap_hist)
and a.delta_desc <> 'Delete'
""".format(dt)
sqlContext.sql(insert_query)
DATA = spark.sql(Review_Query2)
DATA.show()

morphset (123456789, 9)
+----------+------+---------+
|  run_date|action| it_count|
+----------+------+---------+
|1111-01-10|Delete|   111111|
|1111-01-10|   DUP|111111111|
|1111-01-10| Insrt|   111111|
|1111-01-10|  Updt| 11111111|
+----------+------+---------+

# Final Table

In [ ]:
delete_query = """ delete from work_schema.upload_table """
sqlContext.sql(delete_query)
insert_query = """
  insert into work_schema.upload_table
  select distinct
    upld_str_cd,
    upld_item_code,
    cap_units,
    delta_desc
  from work_schema.cap_hist
    where run_date = (select max(run_date) from work_schema.cap_hist)
    and delta_desc <> 'DUP'
  """
DATA = spark.sql(insert_query)